* {
margin: 0;
padding: 0;
box-sizing: border-box; /* ohledně responzivního designu */
}

/***** REUSABLE *****/
.row{
    max-width: 1300px; /* šířka dosahuje max 1300 px - přizpusobuje se*/
    margin: 0 auto;
}

.heading-main h2{
    text-align: center;
   /* margin-top: 40px;*/
    font-size: 30px;
}
.empty-space{
    height: 50px;
    
}

.heading-main h2:after {
    content: "";
    display: block;     /*h2 je blok a chceme mít za tím taky blok*/
    width: 150px;
    border-bottom: 2px solid #dc4f00;
    margin: 20px auto;
}   


/*****HLAVIČKA*****/

header{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/pizza.jpg ");		
	background-size: cover;						/**/
	height: 100vh;								/*100% viewport*/
    background-attachment: fixed;
    
}
.nav-background{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
    z-index: 50;
    border-bottom: 2px solid #dc4f00 ;
}
/*Logo*/
#logo img{
    width: 200px;    
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);     
    
}

/** Navigace **/
nav {
    position: fixed;    
    float: right;
    margin-top: -1px;
    margin-left: 25%;
    z-index: 100; /* chci to mít viditelné nad obrázky - z-index 0 - pod tím*/
    
}

.navigace {
    padding-left: 100px;
}
nav a{
    
    padding: 0px 5px;
}


nav a:link,
nav a:visited {
    color: #fff;
    font-size: 35px;
    text-decoration: none; 
    border-bottom: 2px solid transparent;      /*průhledný rámeček dole*/
}

nav a:hover,
nav a:active {
    
    border-bottom: 2px solid #dc4f00;
    transition: border-bottom 1.3s;         /*přechod na barvu*/

}

.header-text{
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%,-50%);        /*   zarovnání na střed stránky*/   
}




.header-text h1{
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;        /* transform na velká písmena*/
    letter-spacing: 2.2px;
    word-spacing: 3px;
}
/*****Tlačítka v hlavičce *****/
.btn{    
    display: inline-block;              /*nastavení tlačítek */
    color: bisque;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #ff7c32;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    letter-spacing: 1px;
    
    text-align: center;
}
.btn-full:link,
.btn-full:visited {
    background: #dc4f00;
    
}

.btn-full:hover,
.btn-full:active {                     /*link - nekliknuto na odkaz, visited - již kliknuto, active: ve chvíli kliknutí, hover - najetí kurzoru myší na odkaz*/
    transition: background 0.5s;
    background: white;
    color: black;
}

.btn-empty:link,
.btn-empty:visited {
    margin-left: 10px;    
}


.btn-empty:hover,
.btn-empty:active {
    transition: background 0.5s;
    background: white;
    color: black;
}



/***** Formulář *****/

.contact-form{
    max-width: 700px;
    text-align: center;
}

.contact-form input{
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

input[type="submit"] {
    background: #d67e4d; 
    color: #fff;
    font-size: 20px;
}
input[type="submit"]:hover {
    transition: background-color 0.7s;
    background-color: rgba(23, 242, 132, 0.86);
    color: #000;
    
}
.contact-form textarea{
    width: 80%;
    margin: 5px 0px;
    padding: 7px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: arial;
}

/***** Patička *****/
.footer-page {
    background: #d67e4d;
    margin-top: 30px;
    color: #fff;
}
.footer-text {
    text-align: center;
    margin: 10px 0px;
}
.social {
    text-align: center;
    margin: 10px 0px;
    
}
    


.social p{
    display: inline;
    margin-right: 20px;
}

.social p a:link,
.social p a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.social p a:hover,
.social p a:active {
    color: #000;
   
    background: #fff;
    border-radius: 10px;
}





    
/***** Stop Floating *****/
.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    
}

  
/* Responzivita - převedeme šířky na procenta, Media queries*/
    
    
    
    
